.root {
  max-width: 340px;
  height: 490px;
}

.productAvatar {
  height: 375px !important;
  width: 100% !important;
}

.productSamples {
  padding: 18px 12px 0;
}

.productImg {
  background-color: #f4f4f4;
  background-clip: content-box;
  padding: 4px;
  cursor: pointer;
}

.productImg + .productImg {
  margin-left: 12px;
}
